h1
h2
h3
h4
h5
h6 {
    font-family: "Arial, Helvetica",serif;
    font-weight: bold;
}
body{
    max-width: 960px;
    margin: 0 auto;
}
h1{
    text-align: center;
    background-color: darkgray;
    line-height: 2;
    background-image: url("https://www.xbmu.edu.cn/images/dbxx.png");
    background-repeat: repeat;
    background-position: 50%50%;
    line-height: 2;
}
h2{
    background: linear-gradient( 
        to bottom
        #f6f8f9 0%,
        #e5ebee 50%,
        #d7dee3 51%,
        #f5f759 100%,
    );
    line-height: 2;
    width: fit-content;
    border: 1px red solid;
    padding: 10px;
    border-radius: 4px;
     position:relative;
     padding-left: 2em;
}
div p{
    font-size: 16px;
    line-height: 1.8;
    text-indent: 2em;
    padding-left: 2em;
    color: #7c5555;

}
.normal{
    line-height: 3;
}
#home{
    color: rgb(0, 200, 255);
    color: aquamarine;
}
.underwave {
    color: chartreuse;
    /*text-decoration: wavy underline limegreen;*/
}
a:link{
    color: rgb(72, 237, 39);
    text-decoration:wavy underline burlywood;
}
a:visited{
    color: aquamarine;
}
a:hover{
    color: rgb(241, 76, 239);
    text-decoration: underline;
}
h2::after{
    content: "✨";
    margin-left: 2em;
    padding-left: 2em;
    display: block;
    position: absolute;
    top: 100px;
    left: 100px;
}
h2::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url("https://www.edu.cn/images/title_tp1.png");
    background: repeat：no-repeat;
    left: -1em;
}

footer p{
    text-align: center;
}

footer p a {
    color: rgb(174, 109, 206);
    font-size: 0.8em;
}
ul li{
    display: inline-block;
    width: 400px;
}

div#footer {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
}
h2{
    background: linear-gradient( 
        to bottom
        #f6f8f9 0%,
        #e5ebee 50%,
        #d7dee3 51%,
        #f5f759 100%,
    );
    line-height: 2;
    width: fit-content;
    border: 1px red solid;
    padding: 10px;
    border-radius: 4px;
     position:relative;
     padding-left: 2em;
}
div p{
    font-size: 16px;
    line-height: 1.8;
    text-indent: 2em;
    padding-left: 2em;
}
ul li{
    display: inline-block;
    width: 400px;
}
h1{
    text-align: center;
    background-color: darkgray;
    line-height: 2;
    background-image: url("https://www.xbmu.edu.cn/images/dbxx.png");
    background-repeat: repeat;
    background-position: 50%50%;
    line-height: 2;
}
